<div class="content">
    <div>
      <div>
        <h1>Sign Up</h1>
  
        <h4>Create your mustachio account!</h4>
        <form action="/auth/signup" method="POST">
          <label for="firstname">
            <span class="text">First Name:</span>
            <input type="text" name="firstname" id="firstname" />
          </label>
          <label for="lastname">
            <span class="text">Last Name:</span>
            <input type="text" name="lastname" id="lastname" />
          </label>
          <label for="email">
            <span>E-mail:</span>
            <input type="email" name="email" id="email" />
          </label>
          <label for="password">
            <span>Password:</span>
            <input type="password" name="password" id="password" />
          </label>
          <input type="submit" value="" />