<div>
    <h1>
        Here is a Chuck Norris Fact For You!
    </h1>
</div>
<div>
    <p>
        <h3>
            <%= fact %>
        </h3>
    </p>
</div>
<span>
    <div>
        <h1>API Description:</h1>
    </div>
    <div>
        <p>
            <h3>This is an api that randomly pulls a fact or sarcastic joke about Chuck Norris from a database! The api call randomly selects a joke and displays it in the ejs page.

            </h3>
        </p>
    </div>
    <div>
        <h3>
            <a href="https://rapidapi.com/matchilling/api/chuck-norris/">
                API LINK
            </a>
        </h3>
    </div>
</span>