<div id="featured">
	<img src="images/horseshoe_bend.jpg" alt="">
	<div>
		<h2>Lake Powell - Your Natural Escape</h2>
		<span>Explore the beauty of Lake Powell from home</span>
		<span>with suggestions, photos, and weather updates!</span>
		<a href="/blog" class="more">read more</a>
	</div>
</div>

<ul class="gallery">
	<li>
		<a href="/styles">
			<img src="images/beauty.jpg" alt="">
		</a>
		<h3>The Beauty</h3>
	</li>
	<li>
		<a href="/blog">
			<img src="images/exploration.jpg" alt="">
			<span>The Adventures</span>
		</a>
	</li>
	<li>
		<a href="/styles">
			<img src="images/the_weather.jpg" alt="">
			<span>The Weather</span>
		</a>
	</li>
</ul>


