<h1><span>style gallery</span></h1>
  <div>
    <% if (currentUser && currentUser.isAdmin) { %>
      <a href="/styles/new-style">New style</a>
    <% } %>
  </div>
<ul class="gallery">
  <% styles.forEach((style) => { %>
    <li>
      <a href="/styles/<%=style.titleSlug%>" name="<%=style.titleSlug%>">
        <img src="/<%=style.imageURL%>" alt="<%=style.description%>">
      </a>
    </li>
  <% }) %>
</ul>
