<h1>New Style</h1>

<form method="POST" action="/styles/new-style" enctype="multipart/form-data">
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>
  </div>
  <div>
    <label for="description">Description:</label>
    <textarea id="description" name="description" required></textarea>
  </div>
  <div>
    <label for="image">Image:</label>
    <input type="file" id="image" name="image" accept="image/*" required>
  </div>
  <div style="display: none">
    <label for="titleSlug">Title Slug:</label>
    <input type="text" id="titleSlug" name="titleSlug" value="{{titleSlug}}" readonly>
  </div>
  <button type="submit">Submit</button>
</form>

<script>
  const titleInput = document.getElementById('title');
  const titleSlugInput = document.getElementById('titleSlug');

  titleInput.addEventListener('input', () => {
    titleSlugInput.value = titleInput.value.toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-');
  });
</script>

